/** {*/
    /*box-sizing: border-box;*/
/*}*/

body {
    font-family: 'Raleway,400,700',sans-serif;
}

header {
    background-color: black;
    margin-bottom: -18px;
    margin-top: -19px;
}
footer {
    background-color: mediumseagreen;
}

.topnav {
    overflow: hidden;
    background-color: black;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    display: block;
}

.topnav a.icon {
    background: mediumseagreen;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    color: white;
}

.active {
    background-color: mediumseagreen;
    color: white;
}
i {
    margin-left: 191px;
}



@media only screen and (min-width: 600px) {
    .active {
        background-color: darkgray;
        display: none;
    }

    .topnav a.icon {
        background: mediumseagreen;
        display: none;
        position: absolute;
        right: 0;
        top: 0;
    }

    section {
    }
}





